inference/models/**/*.pt filter=lfs diff=lfs merge=lfs -text
inference/embeddings/cache/vocab_vectors.npy filter=lfs diff=lfs merge=lfs -text
inference/embeddings/cache/word2id.json filter=lfs diff=lfs merge=lfs -text
